on early-init
#    mount none /system/lib/modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind

    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/VendorOverlay-framework-res.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/FrameworksResTarget.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/VendorOverlay-oneplus-framework-res.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/VendorOverlay-OPSettingsProvider.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/VendorOverlay-OPSystemUI.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/VendorOverlay-OPWifiApSettings.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/CellBroadcastReceiverResCommon.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/oneplus_shape_squircle/OnePlusIconShapeSquircleOverlay.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/oneplus_shape_circle/OnePlusIconShapeCircleOverlay.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/oneplus_shape_teardrop/OnePlusIconShapeTeardropOverlay.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/oneplus_shape_square/OnePlusIconShapeSquareOverlay.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/oneplus_shape_roundedrect/OnePlusIconShapeRoundedRectOverlay.apk bind


    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/DisplayCutoutNoCutout/NoCutout.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/VendorOverlay-OPSettingsProvider.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/VendorOverlay-OPSystemUI.apk bind
#    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/VendorOverlay-OPWifiApSettings.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/VendorOverlay-framework-res.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/VendorOverlay-oneplus-framework-res.apk bind
#    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/WifiResTarget.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/oneplus_aodnotification_gold/oneplus_aodnotification_gold.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/oneplus_aodnotification_purple/oneplus_aodnotification_purple.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /vendor/overlay/oneplus_aodnotification_red/oneplus_aodnotification_red.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /odm/overlay/OdmOverlay-OPSystemUI.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /odm/overlay/OdmOverlay-framework-res.apk bind
    mount none /product/overlay/EmptyProductOverlay/EmptyProductOverlay.apk /odm/overlay/OdmOverlay-oneplus-framework-res.apk bind
on boot
    # default country code
#    setprop ro.boot.wificountrycode 00
    setprop vendor.camera.aux.packagelist "org.codeaurora.snapcam,com.oneplus.camera,org.omnirom.snap"

    # Touchscreen
    chown system system /proc/touchpanel/single_tap_enable
    chmod 0660 /proc/touchpanel/single_tap_enable


    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dynamic_fps
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dynamic_fps

    chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
    chmod 0666 /sys/class/drm/sde-crtc-0/measured_fps

    mkdir /persist/battery 0770 system system
    mkdir /data/misc/omni 0770 cameraserver audio
    write /data/misc/omni/client_package_name 0
    chown cameraserver audio /data/misc/omni/client_package_name
    chmod 0644 /data/misc/omni/client_package_name

    chown system system /sys/class/leds/vibrator/vmax
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/ignore_store
    chown system system /sys/class/leds/vibrator/gain
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/haptic_audio
    chown system system /sys/class/leds/vibrator/od_clamp
    chown system system /sys/class/leds/vibrator/ol_lra_period
    chown system system /sys/class/leds/vibrator/autocal

    chmod 0660 /sys/class/leds/vibrator/vmax
    chmod 0660 /sys/class/leds/vibrator/activate
    chmod 0660 /sys/class/leds/vibrator/ignore_store
    chmod 0660 /sys/class/leds/vibrator/gain
    chmod 0660 /sys/class/leds/vibrator/brightness
    chmod 0660 /sys/class/leds/vibrator/duration
    chmod 0660 /sys/class/leds/vibrator/state

on post-fs
    # Vibrator
    chown system system /sys/class/leds/vibrator/gain

#service dashd /product/bin/dashd
#    class core
#    critical
#    seclabel u:r:dashd:s0
#    group root system

service factory-hal-1-0 /system/bin/true
    disabled

service oneplus_brain_service /system/bin/true
    disabled

on property:vendor.display.lcd_density=420
   setprop dalvik.vm.heapgrowthlimit 256m

service vendor.light-hal-2-0 /system/bin/true
    disabled

service vendor.lmvibrator-1-0 /system/bin/true
    disabled

service vendor.qti.vibrator /system/bin/true
    disabled
